// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../../core/resource';
import * as MessagesAPI from '../messages';
import * as Shared from '../shared';
import * as ChatsMessagesAPI from './messages';
import { MessageListParams, MessageSendParams, MessageSendResponse, Messages, SentMessage } from './messages';
import * as ParticipantsAPI from './participants';
import {
  ParticipantAddParams,
  ParticipantAddResponse,
  ParticipantRemoveParams,
  ParticipantRemoveResponse,
  Participants,
} from './participants';
import * as TypingAPI from './typing';
import { Typing } from './typing';
import { APIPromise } from '../../core/api-promise';
import { ListChatsPagination, type ListChatsPaginationParams, PagePromise } from '../../core/pagination';
import { buildHeaders } from '../../internal/headers';
import { RequestOptions } from '../../internal/request-options';
import { path } from '../../internal/utils/path';

export class Chats extends APIResource {
  participants: ParticipantsAPI.Participants = new ParticipantsAPI.Participants(this._client);
  typing: TypingAPI.Typing = new TypingAPI.Typing(this._client);
  messages: ChatsMessagesAPI.Messages = new ChatsMessagesAPI.Messages(this._client);

  /**
   * Create a new chat with specified participants and send an initial message. The
   * initial message is required when creating a chat.
   *
   * ## Message Effects
   *
   * You can add iMessage effects to make your messages more expressive. Effects are
   * optional and can be either screen effects (full-screen animations) or bubble
   * effects (message bubble animations).
   *
   * **Screen Effects:** `confetti`, `fireworks`, `lasers`, `sparkles`,
   * `celebration`, `hearts`, `love`, `balloons`, `happy_birthday`, `echo`,
   * `spotlight`
   *
   * **Bubble Effects:** `slam`, `loud`, `gentle`, `invisible`
   *
   * Only one effect type can be applied per message.
   *
   * ## Inline Text Decorations (iMessage only)
   *
   * Use the `text_decorations` array on a text part to apply styling and animations
   * to character ranges.
   *
   * Each decoration specifies a `range: [start, end)` and exactly one of `style` or
   * `animation`.
   *
   * **Styles:** `bold`, `italic`, `strikethrough`, `underline` **Animations:**
   * `big`, `small`, `shake`, `nod`, `explode`, `ripple`, `bloom`, `jitter`
   *
   * ```json
   * {
   *   "type": "text",
   *   "value": "Hello world",
   *   "text_decorations": [
   *     { "range": [0, 5], "style": "bold" },
   *     { "range": [6, 11], "animation": "shake" }
   *   ]
   * }
   * ```
   *
   * **Note:** Style ranges (bold, italic, etc.) may overlap, but animation ranges
   * must not overlap with other animations or styles. Text decorations only render
   * for iMessage recipients. For SMS/RCS, text decorations are not applied.
   *
   * ## First-Message Link Restriction
   *
   * To protect sender deliverability, the **first outbound message** of a new chat
   * cannot be a link. The request is rejected with `400` (error code `1005`) when:
   *
   * - The message contains a `link` part (explicit rich-preview link), or
   * - Any `text` part contains a URL.
   *
   * This rule applies only to `POST /v3/chats`. Follow-up messages on an existing
   * chat (`POST /v3/chats/{chatId}/messages`) are not subject to this restriction.
   *
   * @example
   * ```ts
   * const chat = await client.chats.create({
   *   from: '+12052535597',
   *   message: {
   *     parts: [
   *       {
   *         type: 'text',
   *         value: 'Hello! How can I help you today?',
   *       },
   *     ],
   *   },
   *   to: ['+12052532136'],
   * });
   * ```
   */
  create(body: ChatCreateParams, options?: RequestOptions): APIPromise<ChatCreateResponse> {
    return this._client.post('/v3/chats', { body, ...options });
  }

  /**
   * Retrieve a chat by its unique identifier.
   *
   * @example
   * ```ts
   * const chat = await client.chats.retrieve(
   *   '550e8400-e29b-41d4-a716-446655440000',
   * );
   * ```
   */
  retrieve(chatID: string, options?: RequestOptions): APIPromise<Chat> {
    return this._client.get(path`/v3/chats/${chatID}`, options);
  }

  /**
   * Update chat properties such as display name and group chat icon.
   *
   * Listen for `chat.group_name_updated`, `chat.group_icon_updated`,
   * `chat.group_name_update_failed`, or `chat.group_icon_update_failed` webhook
   * events to confirm the outcome.
   *
   * @example
   * ```ts
   * const chat = await client.chats.update(
   *   '550e8400-e29b-41d4-a716-446655440000',
   *   { display_name: 'Team Discussion' },
   * );
   * ```
   */
  update(chatID: string, body: ChatUpdateParams, options?: RequestOptions): APIPromise<ChatUpdateResponse> {
    return this._client.put(path`/v3/chats/${chatID}`, { body, ...options });
  }

  /**
   * Removes your phone number from a group chat. Once you leave, you will no longer
   * receive messages from the group and all interaction endpoints (send message,
   * typing, mark read, etc.) will return 409.
   *
   * A `participant.removed` webhook will fire once the leave has been processed.
   *
   * **Supported**
   *
   * - iMessage group chats with 4 or more active participants (including yourself)
   *
   * **Not supported**
   *
   * - DM (1-on-1) chats — use the chat directly to continue the conversation
   *
   * @example
   * ```ts
   * const response = await client.chats.leaveChat(
   *   '550e8400-e29b-41d4-a716-446655440000',
   * );
   * ```
   */
  leaveChat(chatID: string, options?: RequestOptions): APIPromise<ChatLeaveChatResponse> {
    return this._client.post(path`/v3/chats/${chatID}/leave`, options);
  }

  /**
   * Retrieves a paginated list of chats for the authenticated partner.
   *
   * **Filtering:**
   *
   * - If `from` is provided, returns chats for that specific phone number
   * - If `from` is omitted, returns chats across all phone numbers owned by the
   *   partner
   * - If `to` is provided, only returns chats where the specified handle is a
   *   participant
   *
   * **Pagination:**
   *
   * - Use `limit` to control page size (default: 20, max: 100)
   * - The response includes `next_cursor` for fetching the next page
   * - When `next_cursor` is `null`, there are no more results to fetch
   * - Pass the `next_cursor` value as the `cursor` parameter for the next request
   *
   * **Example pagination flow:**
   *
   * 1. First request: `GET /v3/chats?from=%2B12223334444&limit=20`
   * 2. Response includes `next_cursor: "20"` (more results exist)
   * 3. Next request: `GET /v3/chats?from=%2B12223334444&limit=20&cursor=20`
   * 4. Response includes `next_cursor: null` (no more results)
   *
   * @example
   * ```ts
   * // Automatically fetches more pages as needed.
   * for await (const chat of client.chats.listChats()) {
   *   // ...
   * }
   * ```
   */
  listChats(
    query: ChatListChatsParams | null | undefined = {},
    options?: RequestOptions,
  ): PagePromise<ChatsListChatsPagination, Chat> {
    return this._client.getAPIList('/v3/chats', ListChatsPagination<Chat>, { query, ...options });
  }

  /**
   * Mark all messages in a chat as read.
   *
   * @example
   * ```ts
   * await client.chats.markAsRead(
   *   '182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e',
   * );
   * ```
   */
  markAsRead(chatID: string, options?: RequestOptions): APIPromise<void> {
    return this._client.post(path`/v3/chats/${chatID}/read`, {
      ...options,
      headers: buildHeaders([{ Accept: '*/*' }, options?.headers]),
    });
  }

  /**
   * Send an audio file as an **iMessage voice memo bubble** to all participants in a
   * chat. Voice memos appear with iMessage's native inline playback UI, unlike
   * regular audio attachments sent via media parts which appear as downloadable
   * files.
   *
   * **Supported audio formats:**
   *
   * - MP3 (audio/mpeg)
   * - M4A (audio/x-m4a, audio/mp4)
   * - AAC (audio/aac)
   * - CAF (audio/x-caf) - Core Audio Format
   * - WAV (audio/wav)
   * - AIFF (audio/aiff, audio/x-aiff)
   * - AMR (audio/amr)
   *
   * @example
   * ```ts
   * const response = await client.chats.sendVoicememo(
   *   'f19ee7b8-8533-4c5c-83ec-4ef8d6d1ddbd',
   *   { voice_memo_url: 'https://example.com/voice-memo.m4a' },
   * );
   * ```
   */
  sendVoicememo(
    chatID: string,
    body: ChatSendVoicememoParams,
    options?: RequestOptions,
  ): APIPromise<ChatSendVoicememoResponse> {
    return this._client.post(path`/v3/chats/${chatID}/voicememo`, { body, ...options });
  }

  /**
   * Share your contact information (Name and Photo Sharing) with a chat.
   *
   * **Note:** A contact card must be configured before sharing. You can set up your
   * contact card via the [Contact Card API](#tag/Contact-Card) or on the
   * [Linq dashboard](https://dashboard.linqapp.com/contact-cards).
   *
   * @example
   * ```ts
   * await client.chats.shareContactCard(
   *   '182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e',
   * );
   * ```
   */
  shareContactCard(chatID: string, options?: RequestOptions): APIPromise<void> {
    return this._client.post(path`/v3/chats/${chatID}/share_contact_card`, {
      ...options,
      headers: buildHeaders([{ Accept: '*/*' }, options?.headers]),
    });
  }
}

export type ChatsListChatsPagination = ListChatsPagination<Chat>;

export interface Chat {
  /**
   * Unique identifier for the chat
   */
  id: string;

  /**
   * When the chat was created
   */
  created_at: string;

  /**
   * Display name for the chat. Defaults to a comma-separated list of recipient
   * handles. Can be updated for group chats.
   */
  display_name: string | null;

  /**
   * List of chat participants with full handle details. Always contains at least two
   * handles (your phone number and the other participant).
   */
  handles: Array<Shared.ChatHandle>;

  /**
   * **[BETA]** Current health for a chat. Always present — chats start at `healthy`
   * and may shift based on engagement and delivery signals on the conversation. Many
   * `at_risk` or `critical` chats on a single line increase the risk of line
   * flagging.
   *
   * Switch on `status` to gate sends or surface line health in your UI — the enum is
   * the long-term contract. Each status carries a `doc_url` that deep-links to the
   * relevant section of the Chat Health guide.
   *
   * See the [Chat Health guide](/guides/chats/chat-health) for what each status
   * means and how to react.
   */
  health_status: Chat.HealthStatus;

  /**
   * Whether the chat is archived
   */
  is_archived: boolean;

  /**
   * Whether this is a group chat
   */
  is_group: boolean;

  /**
   * When the chat was last updated
   */
  updated_at: string;

  /**
   * Messaging service type
   */
  service?: Shared.ServiceType | null;
}

export namespace Chat {
  /**
   * **[BETA]** Current health for a chat. Always present — chats start at `healthy`
   * and may shift based on engagement and delivery signals on the conversation. Many
   * `at_risk` or `critical` chats on a single line increase the risk of line
   * flagging.
   *
   * Switch on `status` to gate sends or surface line health in your UI — the enum is
   * the long-term contract. Each status carries a `doc_url` that deep-links to the
   * relevant section of the Chat Health guide.
   *
   * See the [Chat Health guide](/guides/chats/chat-health) for what each status
   * means and how to react.
   */
  export interface HealthStatus {
    /**
     * Deep-link to the relevant section of the Chat Health guide for this status.
     */
    doc_url: string;

    /**
     * Current health bucket for the chat. See the
     * [Chat Health guide](/guides/chats/chat-health) for what each value means and how
     * to react. `doc_url` deep-links to the relevant section.
     */
    status: 'healthy' | 'at_risk' | 'critical' | 'opted_out';

    /**
     * When this status last changed.
     */
    updated_at: string;
  }
}

export interface LinkPart {
  /**
   * Indicates this is a rich link preview part
   */
  type: 'link';

  /**
   * URL to send with a rich link preview. The recipient will see an inline card with
   * the page's title, description, and preview image (when available).
   *
   * A `link` part must be the **only** part in the message. To send a URL as plain
   * text (no preview card), use a `text` part instead.
   */
  value: string;
}

export interface MediaPart {
  /**
   * Indicates this is a media attachment part
   */
  type: 'media';

  /**
   * Reference to a file pre-uploaded via `POST /v3/attachments` (optional). The file
   * is already stored, so sends using this ID skip the download step — useful when
   * sending the same file to many recipients.
   *
   * Either `url` or `attachment_id` must be provided, but not both.
   */
  attachment_id?: string;

  /**
   * Any publicly accessible HTTPS URL to the media file. The server downloads and
   * sends the file automatically — no pre-upload step required.
   *
   * **Size limit:** 10MB maximum for URL-based downloads. For larger files (up to
   * 100MB), use the pre-upload flow: `POST /v3/attachments` to get a presigned URL,
   * upload directly, then reference by `attachment_id`.
   *
   * **Requirements:**
   *
   * - URL must use HTTPS
   * - File content must be a supported format (the server validates the actual file
   *   content)
   *
   * **Supported formats:**
   *
   * - Images: .jpg, .jpeg, .png, .gif, .heic, .heif, .tif, .tiff, .bmp
   * - Videos: .mp4, .mov, .m4v, .mpeg, .mpg, .3gp
   * - Audio: .m4a, .mp3, .aac, .caf, .wav, .aiff, .amr
   * - Documents: .pdf, .txt, .rtf, .csv, .doc, .docx, .xls, .xlsx, .ppt, .pptx,
   *   .pages, .numbers, .key, .epub, .zip, .html, .htm
   * - Contact & Calendar: .vcf, .ics
   *
   * **Tip:** Audio sent here appears as a regular file attachment. To send audio as
   * an iMessage voice memo bubble (with inline playback), use
   * `/v3/chats/{chatId}/voicememo`. For repeated sends of the same file, use
   * `attachment_id` to avoid redundant downloads.
   *
   * Either `url` or `attachment_id` must be provided, but not both.
   */
  url?: string;
}

/**
 * Message content container. Groups all message-related fields together,
 * separating the "what" (message content) from the "where" (routing fields like
 * from/to).
 */
export interface MessageContent {
  /**
   * Array of message parts. Each part can be text, media, or link. Parts are
   * displayed in order. Text and media can be mixed freely, but a `link` part must
   * be the only part in the message.
   *
   * **Rich Link Previews:**
   *
   * - Use a `link` part to send a URL with a rich preview card
   * - A `link` part must be the **only** part in the message
   * - To send a URL as plain text (no preview), use a `text` part instead
   *
   * **Supported Media:**
   *
   * - Images: .jpg, .jpeg, .png, .gif, .heic, .heif, .tif, .tiff, .bmp
   * - Videos: .mp4, .mov, .m4v, .mpeg, .mpg, .3gp
   * - Audio: .m4a, .mp3, .aac, .caf, .wav, .aiff, .amr
   * - Documents: .pdf, .txt, .rtf, .csv, .doc, .docx, .xls, .xlsx, .ppt, .pptx,
   *   .pages, .numbers, .key, .epub, .zip, .html, .htm
   * - Contact & Calendar: .vcf, .ics
   *
   * **Audio:**
   *
   * - Audio files (.m4a, .mp3, .aac, .caf, .wav, .aiff, .amr) are fully supported as
   *   media parts
   * - To send audio as an **iMessage voice memo bubble** (inline playback UI), use
   *   the dedicated `/v3/chats/{chatId}/voicememo` endpoint instead
   *
   * **Validation Rules:**
   *
   * - A `link` part must be the **only** part in the message. It cannot be combined
   *   with text or media parts.
   * - Consecutive text parts are not allowed. Text parts must be separated by media
   *   parts. For example, [text, text] is invalid, but [text, media, text] is valid.
   * - Maximum of **100 parts** total.
   * - Media parts using a public `url` (downloaded by the server on send) are capped
   *   at **40**. Parts using `attachment_id` or presigned URLs are exempt from this
   *   sub-limit. For bulk media sends exceeding 40 files, pre-upload via
   *   `POST /v3/attachments` and reference by `attachment_id` or `download_url`.
   */
  parts: Array<TextPart | MediaPart | LinkPart>;

  /**
   * iMessage effect to apply to this message (screen or bubble effect)
   */
  effect?: MessagesAPI.MessageEffect;

  /**
   * Optional idempotency key for this message. Use this to prevent duplicate sends
   * of the same message.
   */
  idempotency_key?: string;

  /**
   * Messaging service type
   */
  preferred_service?: Shared.ServiceType;

  /**
   * Reply to another message to create a threaded conversation
   */
  reply_to?: MessagesAPI.ReplyTo;
}

export interface TextPart {
  /**
   * Indicates this is a text message part
   */
  type: 'text';

  /**
   * The text content of the message. This value is sent as-is with no parsing or
   * transformation — Markdown syntax will be delivered as plain text. Use
   * `text_decorations` to apply inline formatting and animations (iMessage only).
   */
  value: string;

  /**
   * Optional array of text decorations applied to character ranges in the `value`
   * field (iMessage only).
   *
   * Each decoration specifies a character range `[start, end)` and exactly one of
   * `style` or `animation`.
   *
   * **Styles:** `bold`, `italic`, `strikethrough`, `underline` **Animations:**
   * `big`, `small`, `shake`, `nod`, `explode`, `ripple`, `bloom`, `jitter`
   *
   * Style ranges may overlap (e.g. bold + italic on the same text), but animation
   * ranges must not overlap with other animations or styles.
   *
   * _Characters are measured as UTF-16 code units. Most characters count as 1; some
   * emoji count as 2._
   *
   * **Note:** Text decorations only render for iMessage recipients. For SMS/RCS,
   * text decorations are not applied.
   */
  text_decorations?: Array<Shared.TextDecoration>;
}

/**
 * Response for creating a new chat with an initial message
 */
export interface ChatCreateResponse {
  chat: ChatCreateResponse.Chat;
}

export namespace ChatCreateResponse {
  export interface Chat {
    /**
     * Unique identifier for the created chat (UUID)
     */
    id: string;

    /**
     * Display name for the chat. Defaults to a comma-separated list of recipient
     * handles. Can be updated for group chats.
     */
    display_name: string | null;

    /**
     * List of participants in the chat. Always contains at least two handles (your
     * phone number and the other participant).
     */
    handles: Array<Shared.ChatHandle>;

    /**
     * **[BETA]** Current health for a chat. Always present — chats start at `healthy`
     * and may shift based on engagement and delivery signals on the conversation. Many
     * `at_risk` or `critical` chats on a single line increase the risk of line
     * flagging.
     *
     * Switch on `status` to gate sends or surface line health in your UI — the enum is
     * the long-term contract. Each status carries a `doc_url` that deep-links to the
     * relevant section of the Chat Health guide.
     *
     * See the [Chat Health guide](/guides/chats/chat-health) for what each status
     * means and how to react.
     */
    health_status: Chat.HealthStatus;

    /**
     * Whether this is a group chat
     */
    is_group: boolean;

    /**
     * A message that was sent (used in CreateChat and SendMessage responses)
     */
    message: ChatsMessagesAPI.SentMessage;

    /**
     * Messaging service type
     */
    service: Shared.ServiceType;
  }

  export namespace Chat {
    /**
     * **[BETA]** Current health for a chat. Always present — chats start at `healthy`
     * and may shift based on engagement and delivery signals on the conversation. Many
     * `at_risk` or `critical` chats on a single line increase the risk of line
     * flagging.
     *
     * Switch on `status` to gate sends or surface line health in your UI — the enum is
     * the long-term contract. Each status carries a `doc_url` that deep-links to the
     * relevant section of the Chat Health guide.
     *
     * See the [Chat Health guide](/guides/chats/chat-health) for what each status
     * means and how to react.
     */
    export interface HealthStatus {
      /**
       * Deep-link to the relevant section of the Chat Health guide for this status.
       */
      doc_url: string;

      /**
       * Current health bucket for the chat. See the
       * [Chat Health guide](/guides/chats/chat-health) for what each value means and how
       * to react. `doc_url` deep-links to the relevant section.
       */
      status: 'healthy' | 'at_risk' | 'critical' | 'opted_out';

      /**
       * When this status last changed.
       */
      updated_at: string;
    }
  }
}

export interface ChatUpdateResponse {
  chat_id?: string;

  status?: string;
}

export interface ChatLeaveChatResponse {
  message?: string;

  status?: string;

  trace_id?: string;
}

/**
 * Response for sending a voice memo to a chat
 */
export interface ChatSendVoicememoResponse {
  voice_memo: ChatSendVoicememoResponse.VoiceMemo;
}

export namespace ChatSendVoicememoResponse {
  export interface VoiceMemo {
    /**
     * Message identifier
     */
    id: string;

    chat: VoiceMemo.Chat;

    /**
     * When the voice memo was created
     */
    created_at: string;

    /**
     * Sender phone number
     */
    from: string;

    /**
     * Current delivery status
     */
    status: string;

    /**
     * Recipient handles (phone numbers or email addresses)
     */
    to: Array<string>;

    voice_memo: VoiceMemo.VoiceMemo;

    /**
     * Messaging service type
     */
    service?: Shared.ServiceType | null;
  }

  export namespace VoiceMemo {
    export interface Chat {
      /**
       * Chat identifier
       */
      id: string;

      /**
       * Chat participants
       */
      handles: Array<Shared.ChatHandle>;

      /**
       * Whether the chat is active
       */
      is_active: boolean;

      /**
       * Whether this is a group chat
       */
      is_group: boolean;

      /**
       * Messaging service type
       */
      service: Shared.ServiceType;
    }

    export interface VoiceMemo {
      /**
       * Attachment identifier
       */
      id: string;

      /**
       * Original filename
       */
      filename: string;

      /**
       * Audio MIME type
       */
      mime_type: string;

      /**
       * File size in bytes
       */
      size_bytes: number;

      /**
       * CDN URL for downloading the voice memo
       */
      url: string;

      /**
       * Duration in milliseconds
       */
      duration_ms?: number | null;
    }
  }
}

export interface ChatCreateParams {
  /**
   * Sender phone number in E.164 format. Must be a phone number that the
   * authenticated partner has permission to send from.
   */
  from: string;

  /**
   * Message content container. Groups all message-related fields together,
   * separating the "what" (message content) from the "where" (routing fields like
   * from/to).
   */
  message: MessageContent;

  /**
   * Array of recipient handles (phone numbers in E.164 format or email addresses).
   * For individual chats, provide one recipient. For group chats, provide multiple.
   */
  to: Array<string>;
}

export interface ChatUpdateParams {
  /**
   * New display name for the chat (group chats only)
   */
  display_name?: string;

  /**
   * URL of an image to set as the group chat icon (group chats only)
   */
  group_chat_icon?: string;
}

export interface ChatListChatsParams extends ListChatsPaginationParams {
  /**
   * Phone number to filter chats by. Returns chats made from this phone number. Must
   * be in E.164 format (e.g., `+13343284472`). The `+` is automatically URL-encoded
   * by HTTP clients. If omitted, returns chats across all phone numbers owned by the
   * partner.
   */
  from?: string;

  /**
   * Filter chats by a participant handle. Only returns chats where this handle is a
   * participant. Can be an E.164 phone number (e.g., `+13343284472`) or an email
   * address (e.g., `user@example.com`). For phone numbers, the `+` is automatically
   * URL-encoded by HTTP clients.
   */
  to?: string;
}

export interface ChatSendVoicememoParams {
  /**
   * Reference to a voice memo file pre-uploaded via `POST /v3/attachments`. The file
   * is already stored, so sends using this ID skip the download step.
   *
   * Either `voice_memo_url` or `attachment_id` must be provided, but not both.
   */
  attachment_id?: string;

  /**
   * URL of the voice memo audio file. Must be a publicly accessible HTTPS URL.
   *
   * Either `voice_memo_url` or `attachment_id` must be provided, but not both.
   */
  voice_memo_url?: string;
}

Chats.Participants = Participants;
Chats.Typing = Typing;
Chats.Messages = Messages;

export declare namespace Chats {
  export {
    type Chat as Chat,
    type LinkPart as LinkPart,
    type MediaPart as MediaPart,
    type MessageContent as MessageContent,
    type TextPart as TextPart,
    type ChatCreateResponse as ChatCreateResponse,
    type ChatUpdateResponse as ChatUpdateResponse,
    type ChatLeaveChatResponse as ChatLeaveChatResponse,
    type ChatSendVoicememoResponse as ChatSendVoicememoResponse,
    type ChatsListChatsPagination as ChatsListChatsPagination,
    type ChatCreateParams as ChatCreateParams,
    type ChatUpdateParams as ChatUpdateParams,
    type ChatListChatsParams as ChatListChatsParams,
    type ChatSendVoicememoParams as ChatSendVoicememoParams,
  };

  export {
    Participants as Participants,
    type ParticipantAddResponse as ParticipantAddResponse,
    type ParticipantRemoveResponse as ParticipantRemoveResponse,
    type ParticipantAddParams as ParticipantAddParams,
    type ParticipantRemoveParams as ParticipantRemoveParams,
  };

  export { Typing as Typing };

  export {
    Messages as Messages,
    type SentMessage as SentMessage,
    type MessageSendResponse as MessageSendResponse,
    type MessageListParams as MessageListParams,
    type MessageSendParams as MessageSendParams,
  };
}
